<!DOCTYPE html>
<html>
<head>
  <title>Chat Rooms</title>
  <link rel="stylesheet" href="/css/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <img src="/images/chit chats.png" alt="Chat Logo" style="height: 100px; width: 100px; border: 2px solid black; border-radius: 250px; ">
  <h1>ChatBox</h1>
  <h2>Welcome, <%= user.username %>!</h2>
  <form action="/room/<%= Math.random().toString(36).substring(2, 8) %>">
    <button type="submit">Create New Room</button>
  </form>
  <form method="get" action="/room/">
    <input name="id" placeholder="Enter Room ID" required>
    <button type="submit" onclick="this.form.action='/room/'+this.form.id.value">Join Room</button>
  </form>
  <br><a href="/logout">Logout</a>
</body>
</html>
